body{
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.main-login{
  width: 100vw; /* Vw = view width e vh view height isso se baseia no tamanho da tela do user */
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.astro-anim{
  width: 80%;
}

.left-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-login > h1{
  font-size: 3vw;
  color: #FA6FE8;
}

.right-login{
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
  color: #FA6FE8;
  font-weight: 800;
  margin: 0;
}

.textfield{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 10px 0 10px;
}

.textfield > input{
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #514869;
  color: gray;
  font-size: 12pt;
  outline: none;
  box-sizing: border-box;
}

.textfield > label{
  color: lightgray;
  margin-bottom: 10px;
}

.esqueceu-senha{
  color: gray;
  margin-top: 1rem;
  font-size: 12px;
  width: 100%;
  text-align: right;
}

.alt-login-btn{
  width: 100%;
  margin: 10px auto;
}

.btn-login-google{
  width: 40%;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 0px;
  border: none;
  color: #fff;
  background-color: #de5246;
  margin-left: 25px;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
}

.btn-login-google:hover{
  background-color: #E13C27;
}

.btn-login-face{
  width: 40%;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 0px;
  border: none;
  color: #fff;
  background-color: #4267B2;
  margin-left: 10px;
  margin-right: 25px;
  -webkit-transition: all 0.5s;
}

.btn-login-face:hover{
  background-color: #3883BD;
}

.btn-login{
  width: 100%;
  padding: 16px 0px;
  margin: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background-color: #FA6FE8;
  cursor: pointer;
  box-shadow: 0px 10px 15px -12px #FA6FE8;
  -webkit-transition: all 0.5s;
}


.btn-login:hover{
    background-color: #F806CC;
    transition: all 0.5s;
}


@media only screen and (max-width: 700px){

  .card-login{
    width: 85%;
  }

  .main-login{
    flex-direction: column;
  }

  .left-login > h1{
    display: none;
  }

  .left-login{
    width: 100%;
    height: auto;
  }

  .right-login{
    width: 90%;
    height: auto;
  }
}
